Django>=4.2.0
SpeechRecognition>=3.10.0
pydub>=0.25.1
requests>=2.31.0
python-dotenv>=1.0.0
google-generativeai
pillow
xhtml2pdf

rm -rf ~/.virtualenvs/env
python3.9 -m venv ~/.virtualenvs/env
source ~/.virtualenvs/env/bin/activate
pip install -r requirements.txt
