{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Medical Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <link rel="stylesheet" href="{% static 'notifications.css' %}" />
    <link rel="stylesheet" href="{% static 'notifications.js' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'font-awesome3/css/all.css' %}" />
  </head>

  <body>
    {% for message in messages %}
    <div class="message-container">
      <div class="message {{ message.tags }}">{{ message }}</div>
    </div>
    {% endfor %}

    <div class="login-container">
      <div class="logo">
        <img src="{% static 'logo.jpg' %}" alt="AI Medical Logo" />
      </div>

      <h2>Welcome to AI Med System</h2>
      <p class="subtext">Reset your email here</p>
      <form action="" method="POST" class="form-container">
        {% csrf_token %}
        <div class="input-group">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </div>
        <button type="submit" class="btn-primary">Send Reset Link</button>
      </form>

      <p class="footer">
        Remember your password?<a href="/login">Sign in here</a>
      </p>
    </div>
    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'login.js' %}"></script>
  </body>
</html>
