{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Medical Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <link rel="stylesheet" href="{% static 'notifications.css' %}" />
    <link rel="stylesheet" href="{% static 'notifications.js' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'font-awesome3/css/all.css' %}" />
</head>

<body>
    {% for message in messages %}
    <div class="message-container">
        <div class="message {{ message.tags }}">{{ message }}</div>
    </div>
    {% endfor %}

    <div class="login-container">
        <div class="logo">
            <img src="{% static 'logo.jpg' %}" alt="AI Medical Logo" />
        </div>

        <h2>Welcome to AI Med System</h2>
        <p class="subtext">Secure AI-powered medical solutions</p>

        <p class="subtext">
            We’ve sent you an email with password reset instructions. Please check
            your inbox and follow the link to reset your password.
        </p>
        <p class="subtext">
            If you don’t see the email, check your spam folder or try again.
        </p>

        <p class="subtext">Log in your account <a href="/login">here</a></p>
    </div>
    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'login.js' %}"></script>
</body>

</html>